@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/itim/v11/0nknC9ziJOYewAQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0C4n.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-image: url('../images/background.png');
}
.bgColor1 {
  background-color: #efefef;
}
.color1 {
  color: #429ef5;
}
h1 {
  text-align: center;
  width: 100%;
  margin-top: 1em;
}
.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
img {
  width: 200px;
  height: 300px;
}
.tips {
  text-align: center;
  border: 1px solid #000;
  padding: 12px;
  margin: 18px auto;
  width: 50%;
  position: relative;
}
.tips::before {
  content: 'TIPS';
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  background: url('../images/background.png');
  padding: 0 10px;
}
.new-book-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.book-create-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1.8em;
  text-align: center;
}
.book-create-container .book-create {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
}
.form {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input {
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #696363;
  background: rgba(0, 0, 0, 0);
  margin: 10px 0;
  font-size: 1.1em;
  width: 100%;
}
.button {
  width: 50%;
  margin: 0 auto;
  padding: 7px;
}
.button:hover {
  cursor: pointer;
}
.actions {
  margin-left: 10px;
}
.edit {
  background-color: hsla(0, 0%, 4%, 0.2);
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  pointer-events: auto;
  position: relative;
  vertical-align: top;
  width: 20px;
  margin-right: 4px;
  position: absolute;
  top: 5px;
  right: 25px;
}
.book-edit .input {
  padding: 0;
}
.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0;
}
.book-show {
  width: 40%;
  margin: 10px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0px 8px 12px #ccc;
}
.book-show .edit:after {
  color: #fff;
  content: "✎";
  display: block;
  font-size: 15px;
  font-weight: 700;
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(20deg);
  transform: translateX(-50%) translateY(-50%) rotate(20deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 20px;
}
.delete {
  -webkit-touch-callout: none;
  background-color: hsla(0, 0%, 4%, 0.2);
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  pointer-events: auto;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: top;
  width: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.delete:after,
.delete:before {
  background-color: #fff;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.delete:before {
  height: 2px;
  width: 50%;
}
.delete:after {
  height: 50%;
  width: 2px;
}
.delete:focus,
.delete:hover,
.edit:hover {
  background-color: #429ef5;
}
.delete:active {
  background-color: #429ef5;
}
.content {
  max-height: 300px;
}
.book-text {
  width: 100%;
  margin: 0 1em;
  overflow: hidden;
  text-align: left;
}
.content h3 {
  font-size: 1.5em;
  margin-top: 1em;
}
.content h5 {
  font-size: 0.9em;
  margin: 15px 0;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1151px) {
  .book-create-container {
    margin: 1.8em 0;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1150px) {
  .book-create-container {
    flex-direction: column;
    justify-content: center;
  }
  .book-create-container .book-create {
    width: 90%;
  }
  .book-create-container .form {
    width: 80%;
  }
  .book-create-container .book-show {
    width: 90%;
  }
  .book-list {
    flex-direction: column;
  }
  .book-list .book-show {
    width: 90%;
    margin: 10px auto;
  }
  .button {
    margin: 1em auto;
    padding: 4px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .book-create-container {
    flex-direction: column;
    justify-content: center;
  }
  .book-create-container .book-create {
    width: 90%;
  }
  .book-create-container .form {
    width: 80%;
  }
  .book-create-container .book-show {
    width: 90%;
  }
  .book-list {
    flex-direction: column;
  }
  .book-list .book-show {
    width: 90%;
    margin: 10px auto;
  }
  .button {
    margin: 0.5em auto;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .book-create-container {
    flex-direction: column;
    justify-content: center;
    margin: 1.8em 0;
  }
  .book-create-container .book-create {
    width: 100%;
  }
  .book-create-container .form {
    width: 80%;
  }
  h1 {
    margin: 1em auto;
    width: 78%;
    font-size: 1.7rem;
  }
  .tips {
    width: 80%;
  }
  .book-list {
    flex-direction: column;
  }
  .book-show {
    width: 280px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .book-show img {
    width: 280px;
  }
  .content {
    max-height: initial;
  }
  .book-text {
    height: 300px;
    width: 240px;
    text-overflow: ellipsis;
  }
  .button {
    margin: 0.5em auto;
  }
}
